@using RazorTodo
@model List<TodoItem>
    <html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="background-color:blue">
        <h1>HybridRazorTodo <a href="hybrid:AddTask?"><img src="plus.png" /></a></h1>
        <a href="hybrid:SpeakAll?">Speak Undone</a>
        <a href="hybrid:TweetAll?">Tweet Undone</a>
        <ul>
            @foreach (var todo in @Model)
            {
                <li>
                    <a href="hybrid:ViewTask?todoid=@todo.ID">@todo.Name</a>
                    @if (@todo.Done)
                    {
                        <img src="check.png" />
                    }
                </li>
}
        </ul>
        <div style="width:100%; background-color: rgba(0, 255, 0, 0.6);color:#004400; border-radius:3px">
            <div style="width:25%; display:inline-block">1.1.2016</div>
            <div style="width:47%; display:inline-block">Tost</div>
            <div style="width:25%; display:inline-block; ">3,7</div>
        </div>
        <div style="width:100%; background-color: rgba(255, 0, 0, 0.6);color:#970000;border-radius:3px">
            <div style="width:25%; display:inline-block">1.1.2016</div>
            <div style="width:47%; display:inline-block">Tost</div>
            <div style="width:25%; display:inline-block; ">3,7</div>
        </div>
        <div style="width:100%; background-color: rgba(0, 255, 0, 0.6);color:#004400;border-radius:3px">
            <div style="width:25%; display:inline-block">1.1.2016</div>
            <div style="width:47%; display:inline-block">Tost</div>
            <div style="width:25%; display:inline-block; ">3,7</div>
        </div>
        <div style="width:100%; background-color: rgba(255, 0, 0, 0.6);color:#970000;border-radius:3px">
            <div style="width:25%; display:inline-block">1.1.2016</div>
            <div style="width:47%; display:inline-block">Tost</div>
            <div style="width:25%; display:inline-block; ">3,7</div>
        </div>
        <div style="width:100%; background-color: rgba(255, 0, 0, 0.6);color:#970000;border-radius:3px">
            <div style="width:25%; display:inline-block">1.1.2016</div>
            <div style="width:47%; display:inline-block">Tost</div>
            <div style="width:25%; display:inline-block; ">3,7</div>
        </div>
        <div style="width:100%; background-color: rgba(0, 255, 0, 0.6);color:#004400;border-radius:3px">
            <div style="width:25%; display:inline-block">1.1.2016</div>
            <div style="width:47%; display:inline-block">Tost</div>
            <div style="width:25%; display:inline-block; ">3,7</div>
        </div>
    </body>
</html>
